<div *ngIf="ot !== undefined">

  <div class="formulario">

    <div class="campo">
      <span>Id Ot: </span>
      <input type="text" pInputText [(ngModel)]="documento.otId" [disabled]="true" />
    </div>

    <div class="campo">
      <span>Delegação: </span>
      <input type="text" pInputText [(ngModel)]="documento.delegacionCodigo" [disabled]="true" />
    </div>

    <!-- codigoCliente -->
    <div class="campo">
      <span>Codigo Cliente: </span>
      <input type="text" pInputText [(ngModel)]="documento.entidadGECodigo" [disabled]="true" />
    </div>

    <!-- codigo documento -->
    <div class="campo">
      <span>Cod. Documento: </span>
      <input type="text" pInputText [(ngModel)]="documento.documentoCodigo" maxlength="50" />
    </div>

    <!-- id documento -->
    <div class="campo">
      <span>ID Documento: </span>
      <input type="text" pInputText [(ngModel)]="documento.documentoId" maxlength="50" />
    </div>

    <!-- pais -->
    <div class="campo">
      <span>Pais: </span>
      <input type="text" pInputText [(ngModel)]="documento.paisCodigo" maxlength="2" />
    </div>

    <div class="campo">
      <span>Codigo Empleo: </span>
      <input type="text" pInputText [(ngModel)]="documento.empleoCodigo" maxlength="1" />
    </div>

    <div class="campo">
      <span>Codigo Empleo: </span>
      <input type="text" pInputText [(ngModel)]="documento.empleoCodigo" maxlength="1" />
    </div>

    <div class="campo">
      <span>Emissor: </span>
      <input type="text" pInputText [(ngModel)]="documento.emisorDocumentoCodigo" maxlength="1" />
    </div>

    <div class="campo">
      <span>Codigo Estado: </span>
      <input type="text" pInputText [(ngModel)]="documento.estadoCodigo" maxlength="1" />
    </div>

    <div class="campo">
      <span>Localização: </span>
      <input type="text" pInputText [(ngModel)]="documento.localizacionCodigo" maxlength="1" />
    </div>

    <div class="campo">
      <span>Sistema Origem: </span>
      <input type="text" pInputText [(ngModel)]="documento.sistemaOrigenId" />
    </div>

    <!-- data servico -->
    <div class="campoData">
      <span>Data Serviço: </span>
      <p-calendar dateFormat="dd/mm/yy" [(ngModel)]="documento.fechaServicio"></p-calendar>
    </div>

    <p-panel header="Bultos" [toggleable]="true" [collapsed]="true" class="painelBultos"
      [style]="{'font-size':'0.9rem'}" [transitionOptions]="'500ms'">

      <table>
        <thead>
          <tr>
            <th><small>Precinto</small></th>
            <th><small>Bolsa</small></th>
            <th><small>Id</small></th>
            <th><span class="crudDocumento" (click)="addBultoMemoria()">+</span></th>
          </tr>
        </thead>
        <tbody *ngIf="bultos.length > 0">
          <tr *ngFor="let bulto of documento.bultos; let i = index">
            <td><input type="text" pInputText [(ngModel)]="bulto.precintoCodigo" />
            </td>
            <td><input type="text" pInputText [(ngModel)]="bulto.bolsaCodigo" /></td>
            <td><input type="text" pInputText [(ngModel)]="bulto.id" /></td>
            <td><span class="crudDocumento" (click)="removerBultoMemoria(bulto)">-</span>
          </tr>
        </tbody>
      </table>
    </p-panel>

    <p-panel header="Documento Items" [toggleable]="true" [collapsed]="true" class="painelDocumentoItens"
      [transitionOptions]="'500ms'" [style]="{'font-size':'0.9rem'}">

      <!-- bultos/bolsas/ids independentes -->
      <table>
        <thead>
          <tr>
            <th>
              <small>Precinto</small>
            </th>
            <th><small>Bolsa</small></th>
            <th><small>Id</small></th>
            <th><small>Cantidad</small></th>
            <th><small>Tipo Emb.</small></th>
            <th><small>Divisa</small></th>
            <th><small>Tipo Merc.</small></th>
            <th><small>Valor</small></th>
            <th><span class="crudDocumento" (click)="addDocumentoMemoria()">+</span></th>
          </tr>
        </thead>
        <tbody *ngIf="documento.documentoItens.length > 0">
          <tr *ngFor="let docItem of documento.documentoItens; let i = index">
            <td><input type="text" pInputText [(ngModel)]="docItem.bulto.precintoCodigo" />
            </td>
            <td><input type="text" pInputText [(ngModel)]="docItem.bulto.bolsaCodigo" /></td>
            <td><input type="text" pInputText [(ngModel)]="docItem.bulto.id" /></td>

            <td><input type="text" pInputText [(ngModel)]="docItem.cantidad" /></td>
            <td><input type="text" pInputText [(ngModel)]="docItem.codTipoEmbalaje" /></td>
            <td><input type="text" pInputText [(ngModel)]="docItem.divisaCodigo" /></td>
            <td><input type="text" pInputText [(ngModel)]="docItem.tipoMercanciaCodigo" />
            </td>
            <td><input type="text" pInputText [(ngModel)]="docItem.valor" /></td>
            <!-- <td><p-inputNumber [(ngModel)]="docItem.valor" mode="decimal" [minFractionDigits]="2"
                [maxFractionDigits]="2" [inputStyle]="getClassInputNumber"></p-inputNumber></td> -->

            <td><span class="crudDocumento" (click)="removerDocumentoMemoria(docItem)">-</span>
            </td>
          </tr>
        </tbody>
      </table>
    </p-panel>

    <div class="botaoGravar">
      <button pButton type="button" (click)="guardarDocumentoBase()">Gravar
        Documento</button>
    </div>
  </div>
</div>