<div class="menu">

  <div class="titulo">
    <div class="logo">
      <img src="../../../../assets/prosegurIcon-black.png" alt="Prosegur" />
      <h4>Emulador Sol</h4>

    </div>
  </div>

  <div class="filtro">

    <div class="filtroCorpo">
      <input type="text" pInputText placeholder="Codigo Rota" [(ngModel)]="codigoRota" />

      <input type="text" pInputText placeholder="Delegacao Rota" [(ngModel)]="delegacaoRota" />

      <p-calendar styleCalss=".ui-calendar .ui-calendar-button" dateFormat="dd/mm/yy" placeholder="Data Rota"
        [(ngModel)]="dataRota"></p-calendar>

      <button pButton type="button" label="Buscar Ruta" (click)="buscarRuta()"></button>
    </div>
  </div>

  <div class="menu-lateral-direito">
    <app-counter></app-counter>
  </div>
</div>