
.menu {
    display: flex;
    flex-direction: row;
    width: 100%;

    justify-content: space-between;
    align-items: center;
}

.titulo {
    margin-left: 2rem;
}
.filtro {
   display: flex;

   justify-content: center;
}

.menu-lateral-direito {
    display: flex;
    justify-content: end;
    margin-right: 2rem;
}

.col h4 {
    margin-right: 4rem;
}