<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <div class="menu">

    <div class="titulo">
      <div class="row">
        <div class="col">
          <h4>Prosegur - Simulador Sol</h4>
        </div>
      </div>
    </div>

    <div class="filtro">
      <div class="row">

        <div class="col">
          <input type="text" pInputText placeholder="Codigo Ruta" [(ngModel)]="rutaCodigo"
            (change)="changeRutaCodigo" />
        </div>

        <div class="col">
          <p-calendar dateFormat="dd/mm/yy" placeholder="Fecha Ruta" [(ngModel)]="fechaActual"
            (onSelect)="changeValueDate()"></p-calendar>
        </div>

        <div class="col">
          <button pButton type="button" label="Buscar Ruta" (click)="buscarRuta()"></button>
        </div>

      </div>
    </div>

    <div class="menu-lateral-direito">
      <app-counter></app-counter>
    </div>
  </div>
</nav>

<!-- <div class="topo">
  topo
</div>

<div class="conteudo">
  teste
</div>

<div class="rodape">
  rodape
</div> -->